body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("../images/ocean/Hazzard_Ryan_4500.jpg") ; 
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1 {
  font-size: 115px; 
  font-family: 'Source Sans Pro', sans-serif;
} 
.custom {
  font-family: 'Raleway', sans-serif;
  font-size: 35px
}

